In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import torch
from torch.utils.data import Dataset, DataLoader
import torch.nn as nn
import torch.optim as optim

In [2]:
df = pd.read_csv("data/Titanic-Dataset.csv")
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
df['Age'] = df['Age'].fillna(df.groupby('Title')['Age'].transform('median'))

df = df[[ 'Survived','Pclass', 'Sex', 'Age','SibSp','Parch','Fare', 'Embarked']]
df = df.dropna()

df["Sex"] = LabelEncoder().fit_transform(df["Sex"])
df["Embarked"] = LabelEncoder().fit_transform(df["Embarked"])

X = df.drop("Survived", axis=1).values
y = df["Survived"].values

X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [3]:
class TitanicDataset(Dataset):
    def __init__(self, X, y):
        self.X = torch.tensor(X, dtype=torch.float32)
        self.y = torch.tensor(y, dtype=torch.float32)

    def __len__(self):
        return len(self.y)
    
    def __getitem__(self, idx):
        return self.X[idx], self.y[idx]
    
train_ds = TitanicDataset(X_train, Y_train)
train_loader = DataLoader(train_ds, batch_size=16, shuffle=True)

In [4]:
class TitanicModel(nn.Module):
    def __init__(self):
        super(TitanicModel, self).__init__()
        self.net = nn.Sequential(
            nn.Linear(X_train.shape[1],16),
            nn.ReLU(),
            nn.Linear(16,8),
            nn.ReLU(),
            nn.Linear(8,1),
            nn.Sigmoid()
        )

    def forward(self, x):
        return self.net(x)
    
model = TitanicModel()
criterion = nn.BCELoss()
optimize = optim.Adam(model.parameters(),lr=0.001)

In [5]:
for epoch in range(100):
    for X_batch, y_batch in train_loader:
        optimize.zero_grad()
        outputs = model(X_batch).squeeze()
        loss = criterion(outputs, y_batch)
        loss.backward()
        optimize.step()
    print(f"Epoch{epoch+1}, Loss:{loss.item():.4f}")

Epoch1, Loss:0.5542
Epoch2, Loss:0.4354
Epoch3, Loss:0.4369
Epoch4, Loss:0.6614
Epoch5, Loss:0.6534
Epoch6, Loss:0.9036
Epoch7, Loss:0.6373
Epoch8, Loss:0.4913
Epoch9, Loss:0.5925
Epoch10, Loss:0.3845
Epoch11, Loss:0.6846
Epoch12, Loss:0.4830
Epoch13, Loss:0.5725
Epoch14, Loss:0.3885
Epoch15, Loss:0.6434
Epoch16, Loss:0.5466
Epoch17, Loss:0.4715
Epoch18, Loss:0.5508
Epoch19, Loss:0.5075
Epoch20, Loss:0.5752
Epoch21, Loss:0.4504
Epoch22, Loss:0.4483
Epoch23, Loss:0.4869
Epoch24, Loss:0.4681
Epoch25, Loss:0.3862
Epoch26, Loss:0.6909
Epoch27, Loss:0.4183
Epoch28, Loss:0.3361
Epoch29, Loss:0.5408
Epoch30, Loss:0.3048
Epoch31, Loss:0.4185
Epoch32, Loss:0.3626
Epoch33, Loss:0.3425
Epoch34, Loss:0.2321
Epoch35, Loss:0.8203
Epoch36, Loss:0.2649
Epoch37, Loss:0.3235
Epoch38, Loss:0.4752
Epoch39, Loss:0.5516
Epoch40, Loss:0.3574
Epoch41, Loss:0.3258
Epoch42, Loss:0.4972
Epoch43, Loss:0.3313
Epoch44, Loss:0.3493
Epoch45, Loss:0.3640
Epoch46, Loss:0.2583
Epoch47, Loss:0.5454
Epoch48, Loss:0.5373
Epoch49, Loss:0.8029
Epoch50, Loss:0.4566
Epoch51, Loss:0.7020
Epoch52, Loss:0.3303
Epoch53, Loss:0.5362
Epoch54, Loss:0.1236
Epoch55, Loss:0.2246
Epoch56, Loss:0.3476
Epoch57, Loss:0.5934
Epoch58, Loss:0.6127
Epoch59, Loss:0.5584
Epoch60, Loss:0.5756
Epoch61, Loss:0.1551
Epoch62, Loss:0.5765
Epoch63, Loss:0.4045
Epoch64, Loss:0.4793
Epoch65, Loss:0.2058
Epoch66, Loss:0.4210
Epoch67, Loss:0.3149
Epoch68, Loss:0.3024
Epoch69, Loss:0.6129
Epoch70, Loss:0.2739
Epoch71, Loss:0.5166
Epoch72, Loss:0.2952
Epoch73, Loss:0.7423
Epoch74, Loss:0.4158
Epoch75, Loss:0.3227
Epoch76, Loss:0.3080
Epoch77, Loss:0.3297
Epoch78, Loss:0.3471
Epoch79, Loss:0.2269
Epoch80, Loss:0.4635
Epoch81, Loss:0.2734
Epoch82, Loss:0.7768
Epoch83, Loss:0.3270
Epoch84, Loss:0.4863
Epoch85, Loss:0.2388
Epoch86, Loss:0.2845
Epoch87, Loss:0.4335
Epoch88, Loss:0.4350
Epoch89, Loss:0.1766
Epoch90, Loss:0.5572
Epoch91, Loss:0.1826
Epoch92, Loss:0.1795
Epoch93, Loss:0.5260
Epoch94, Loss:0.2026
Epoch95, Loss:0.4466
Epoch96, Loss:0.3820
Epoch97, Loss:0.5970
Epoch98, Loss:0.1359
Epoch99, Loss:0.4169
Epoch100, Loss:0.2686

In [9]:
import torch

dummy_input = torch.randn(1, X_train.shape[1]) 

torch.onnx.export(
    model,                 
    dummy_input,            
    "model/titanic_model.onnx",   
    export_params=True,    
    opset_version=18,       
    do_constant_folding=True,
    input_names=['input'],  
    output_names=['output'],
    dynamic_axes={'input' : {0 : 'batch_size'},'output' : {0 : 'batch_size'}}
)

print("save model")

/tmp/ipykernel_60785/1324726946.py:5: UserWarning: # 'dynamic_axes' is not recommended when dynamo=True, and may lead to 'torch._dynamo.exc.UserError: Constraints violated.' Supply the 'dynamic_shapes' argument instead if export is unsuccessful.
  torch.onnx.export(

[torch.onnx] Obtain model graph for `TitanicModel([...]` with `torch.export.export(..., strict=False)`...
[torch.onnx] Obtain model graph for `TitanicModel([...]` with `torch.export.export(..., strict=False)`... ✅
[torch.onnx] Run decomposition...
[torch.onnx] Run decomposition... ✅
[torch.onnx] Translate the graph into ONNX...
[torch.onnx] Translate the graph into ONNX... ✅
save model

1

In [14]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0  21.0      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[889 rows x 8 columns]

In [13]:
Title.value_counts()

Name
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Mlle          2
Major         2
Ms            1
Mme           1
Don           1
Lady          1
Sir           1
Capt          1
Countess      1
Jonkheer      1
Name: count, dtype: int64

In [16]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    21.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64